@import "tailwindcss";

@theme {
  --color-neon: #ccff00;
  --color-dark: #121212;
  --color-dark-card: #1e1e1e;
  --color-playo-green: #82c91e;
  --color-playo-gray: #f5f5f5;

  --font-sans: Inter, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}